<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DB_PROJECT_DEMO.Properties.Settings.db_proj_finalConnectionString"
            connectionString="Data Source=LAPTOP-N25QV6PN\SQLEXPRESS;Initial Catalog=db_proj_final;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>